*{
  font-family: 'Open Sans', sans-serif;
}
/****************************************************HEADER SECTION*/
header{
  background-color: hsl(0, 0%, 100%);
  min-height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
}

header .mobile{
  display:none;
}

header .logo{
  width: 30%;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
}

header .logo img{
  height: 2rem;
  width: auto;
}

header .logo a{
  color: hsl(0, 0%, 35%);
}

header .logo a span{
  color: hsl(0, 0%, 69%);
}

nav{
  width: 70%;
  display: flex;
}

nav ul{
  width: 100%;
  padding: 0;
  margin-right: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

li{
  margin-left: 1rem;
}

/****************************************************BANNER SECTION*/
.banner{
  background-color: hsl(0, 0%, 85%);
  display: flex;
  align-items: center;
}

.banner img{
  width: 60%;
  height: 50%;
  margin: 2rem 1.5rem;
}

.banner .banner-info{
  width: 40%;
  height: 40%;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*.banner .banner-info h1{
  font-size: 2rem;
}*/

.banner-info h3{
  margin: 1.5rem 0;
}

.banner-info .botton{
  background-color: hsl(0, 0%, 29%);
  color: white;
  padding: 0.5rem 0.5rem;
  text-align: center;
}
/****************************************************INFO SECTION*/
.first{
  display: flex;
}

.main{
  width: 60%;
  padding: 2rem 1.5rem;
}

.main img{
  width: 100%;
  margin-bottom: 2rem;
}

.main h1, .main p{
  margin-bottom: 1.5rem;
}

.submain{
  width: 40%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  border-left: 1px solid hsl(0, 0%, 85%);
}

.short-card{
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid hsl(0, 0%, 85%);
  margin-bottom: 0.1px;
}

.short-card .img-desktop{
  width: 35%;
  height: 100%;
  margin: 1rem;
}

.short-card .img-mobile{
  display:none;
}

.short-card:last-child{
  background-color: hsl(0, 0%, 85%);
}

.info-short{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-short p{
  margin: 0.5rem 0;
}

.info-short a{
  color: hsl(212, 71%, 65%);
}

/****************************************************COURSES SECTION*/
.second{
  background-color: hsl(0, 0%, 85%);
}

.second .title h1{
  text-align: center;
  padding: 2rem 0;
  /*font-size: 2rem;*/
}

.second .content-cards{
  padding: 0 4.5rem 2rem 4.5rem;
  display: flex;
  flex-wrap: wrap;
}

.content-cards .card{
  background-color: hsl(0, 0%, 100%);
  width: 30%;
}

.content-cards .card img{
  width: 100%;
}

.content-cards .card .information{
  margin: 1rem 0 1.5rem 1rem ;
}

.content-cards .card .information h3{
  padding: 0.5rem 0; ;
}

.content-cards .card:nth-child(3n+2){
  margin: 0 2rem;
}

.content-cards .card:nth-child(1n+4){
  margin-top: 2rem;
}

/****************************************************VIDEO SECTION*/
.thirds .title h1{
  text-align: center;
  padding: 2rem 0;
  /*font-size: 2rem;*/
}
.third{
  display: flex;
}

.main-video{
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-video video{
  width: 100%;
  margin-bottom: 1.5rem;
}

.main-video h1{
  margin-bottom: 0.5rem;
}

.submain-video{
  width: 40%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.short-card-video{
  display: flex;
  margin-bottom: 0.1px;
}

.short-card-video img{
  width: 35%;
  height: 100%;
  margin: 1rem;
}

.short-card-video:first-child{
  background-color: hsl(0, 0%, 85%);
}

.info-short-video{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-short-video p{
  margin: 0.5rem 0;
}
/****************************************************FOOTER SECTION*/

footer{
  border-top: 1px solid hsl(0, 0%, 85%);
  display: flex;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

footer p{
  width: 90%;
  margin-left: 1.5rem;
}
footer a{
  width: 5%;
  text-align: right;
}

footer a:last-child{
  margin-right: 1.5rem;
}

/*********************************************************************************************************MOBILE************************************/

@media only screen and (max-width : 600px) {

  header .logo, header .desktop{
    display: none;
  }

  header .mobile{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header .mobile img{
    width: 2rem;
  }

/******************************* END HEADER SECTION*/

.banner{
  flex-direction: column;
}

.banner img{
  width: 100%;
  margin:0;
}

.banner .banner-info{
  width: 100%;
  margin: 0;
  padding: 2rem 0;
}

.banner .banner-info h1,.banner .banner-info h3{
  padding: 0 1rem;
}

.banner-info .botton{
  width: 90%;
  margin: 0 auto;
  background-color: hsl(0, 0%, 61%);
}

/******************************* END BANNER SECTION*/
.main{
  display: none;
}

.short-card{
  flex-direction: column;
  border-bottom: none;
}

.short-card .img-desktop{
  display:none;
}

.short-card .img-mobile{
  display:block;
  width: 100%;
}
.submain{
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
}

.short-card:last-child{
  background-color: hsl(0, 0%, 100%);
}

.info-short{
  padding: 2rem 0 2rem 1rem;
}

.end{
  padding-bottom: 0;
}

/******************************* END INFORMATION SECTION*/
.second{
  background-color: hsl(0, 0%, 100%);
}

.second .title h1{
  border-top: 1px solid hsl(0, 0%, 90%);
  text-align: center;
  padding: 2rem 0 1rem 0;
}
.content-cards .card img,.content-cards .card h3,.content-cards .card p{
  display: none;
}

.second .content-cards{
  padding: 0 0 2rem 0;
  width: 90%;
  margin:auto;
}

.content-cards .card:nth-child(3n+2){
  margin: 0 0 0.5rem 0 ;
}

.content-cards .card:nth-child(1n+4){
  margin: 0 0 0.5rem 0 ;
}

.content-cards .card{
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: hsl(0, 0%, 85%);
}

.content-cards .card:last-child{
  margin: 0;
}
/****************************************************VIDEO SECTION*/

.thirds .title h1{
  padding: 2rem 0 1rem 0;
}

.main-video h1,.main-video p, .submain-video{
  display: none;
}

.main-video{
  margin: 0;
  padding: 0;
  width: 100%;
}

/****************************************************FOOTER SECTION*/
footer{
  border: none;
  padding-bottom: 1rem;
}
footer a{
  display: none;
}

}
